*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     }
/* end of the body */

/* container */


.container{
    
    background-image: url(../Images/bg-intro-desktop.png);
    background-color: rgb(243, 133, 191);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 10px;
    }

    /* end of container */

    .text{
        position: relative;
        left: -400px;
        padding: 200px;
        margin-bottom: 0px;
        color: #fff;
        
        
    }

    .text h1{
        padding: 20px 60px;
        text-align: center;
        color: #fff;
        position: relative;
        bottom: 60px;
        left: 120px;
        font-size: 250%;
    

    }

    .text p{
        position: relative;
        bottom: 40px;
        text-align: center;
        padding: 5px 24px;
        left: 110px;
        
    
      }
    
    

    .form{
        display: grid;
        place-items: center
    }


    .form-container{
    
        padding: 20px 15px;
        width: 40%; ;
        background: #fff;
        border-radius: 10px;
        position: relative;
        left: 580px;
        bottom: 450px;
        
    }


    .container label{
        position: relative;
        bottom: 490px;
        left: 580px;
        color: #fff;
        background: hsl(248, 32%, 49%);
        padding: 25px;
        padding-left: 140px;
        box-sizing: border-box; 
        border-radius: 5px;
        text-align: justify;
        
    
  







    }
       
       
       
       
       
        
       
        
        
        
        /* wetyty4u */
    
    

    form input{
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
        padding-bottom: 10px 15px;
        border-radius: 5px;
    }
    /* ghsthrksw857,i */


   .form-container button{
        background-color: hsl(154, 59%, 51%);;
        width: 100%;
        border: none;
        padding: 20px 20px ;
        border-radius: 10px;
        text-transform: uppercase;
        color: #fff;

        }

        /* lkfdjhglegwer */


    .form-container p{
            text-align: center;
            font-size: 11px;
            color: blue;
    

        }

    .form-container span{
            color: red;
        }













    




