*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
    /* }
    body{
        font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
       }
       @media only screen and(max-width:375px) {

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap') */


@media only screen and(max-width:375px) {

.container{
       
     background:linear-gradient (rgba(255,122, 122, .8) 100%) rgba(255,122, 122, .7) 100%;
     
     background-size: cover;
     background-repeat: no-repeat;
     padding: 50px 10px;
    }
    .text{
        display: grid;
        place-items: center;
        margin-bottom: 48px;

    }
    .text h1{
        padding: 10px 40px;
        text-align: center;
        color: #fff;
    }

    .text p{
        text-align: center;
        padding: 5px 28px;
        color: #fff;
    }
    .form{
        display: grid;
        place-items: center;
    }
    .form label{
        background: hsl(248, 32%, 49%);
    }

    form-container{
        margin-top: 10px;
        padding: 10px 15px;
        background: #fff;
        border-radius: 10px;



    }
    form input{
        width: 100%;
        margin-bottom: 10px;
    }

    form button{
        background-color: hsl(154, 59%, 51%);;
        width: 100%;
        border: none;
        padding: 20px 20px ;
        border-radius: 10px;
        text-transform: uppercase;
        color: #fff;


    

        }

    }


/* }

width: 300px;
height: 230px;
margin-right: 500px
align-items: center
border-radius: 5px;
color: #fff;






margin-top: -940px;
padding: 20px 15px;
background: hsl(248, 32%, 49%);
position: relative;
left: 750px;
color: #fff;


font-size: small;




position: relative;
margin-bottom: 48px;
color: #fff; */