*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap')


@media only screen and (max-width:375){
   
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


.container{
     background: linear-gradient(rgba(255,122, 122, .8) 100%), rgba(255, 122, 122, .7) 100%, 
     url("/Images/bg-intro-mobile.png");

     background-size: cover;
     background-repeat: no-repeat;
     padding: 50px 10px;
    }

    .text{
        display: grid;
        place-items: center;
        margin-bottom: 48px;
        position: relative;
        

    }
    .text h1{
        padding: 10px 40px;
        text-align: center;
        color: #fff;
    }

    .text p{
        text-align: center;
        padding: 5px 28px;
        color: #fff
    }
    .form label{
        background: hsl(248, 32%, 49%);
    }

    form-container{
        width: auto;
        height: auto;
        margin-top: 50px;
        padding: 200px 35px;
        background: #fff;
        border-radius: 10px;
        color: #fff;
        font-size: 12px;



    }
    form input{
        width: 100%;
        margin-bottom: 10px;
    }

    form button{
        background-color: hsl(154, 59%, 51%);;
        width: 100%;
        border: none;
        padding: 20px 20px ;
        border-radius: 10px;
        text-transform: uppercase;
        color: #fff;
        box-shadow: hsl(240, 12%, 5%);


    

        }
        form p{
            text-align: center;
            font-size: 13px;

        }
        form span{
            color: red;
        }

    }




